@import url('https://fonts.googleapis.com/css?family=Arvo');

input {
    z-index: 10;
    border-radius: 30px;
    border: none;
    background: #ebebeb;
}

#searchResults {
    display: block;
    width: 100%;
}

li {
    display: block;
    margin-bottom: 10px;
    padding: 15px 30px 5px 30px;
    background-color: #beffe1;
    -webkit-border-radius: 25px;
    font-size: 20px;
}

#searchBar {
    padding-left: 10px;
}

#theBody {
    font-family: 'Arvo', serif;
    background-color: #87c8c7;
    font-size: 40px;
}

.glyphicon-remove {
    color: black;
    font-size: 30px;
    position: absolute;
    top: inherit;
    right: 50px;
}

.glyphicon-search {
    color: black;
    font-size: 60px;
}